html {
    background: IndianRed;
}

h1 {
    vertical-align: top;
    text-align: center;
}

.container {
    height: 100%;
    flow: vertical;
    border-spacing: *;
}

.gameContainer {
    height: 30%;
    flow: vertical;
}

.buttonContainer {
    flow: horizontal;
    border-spacing: 10px;
    horizontal-align: center;
}

game {
    prototype: Game url(menu.tis);
    width: 100%;
    text-align: center;
}
